alien:   https://th.bing.com/th/id/R.d22cd20c4646cffc2fee0ae2feecb1c5?rik=D0Kr2NAgMU2Lwg&riu=http%3a%2f%2fwww.tenasaku.com%2ftenasaku%2ftepipi%2fresource%2fspace_invader.png&ehk=0mnsBpPyubqZYxyqkRRMJrsYtHSwkXeXM8EFk5kLE14%3d&risl=&pid=ImgRaw&r=0
player :https://clipart-library.com/images/kcKboL5cj.jpg